<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
      <handlers>
        <add name="JSON" path="*.json" verb="*" modules="IsapiModule" scriptProcessor="C:\WINDOWS\system32\inetsrv\asp.dll" resourceType="Unspecified" />
      </handlers>
      <staticContent>
        <!--<mimeMap fileExtension=".json" mimeType="application/x-www-form-urlencoded" />-->
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <mimeMap fileExtension=".pde" mimeType="text/plain" />
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" /> 
        <mimeMap fileExtension=".mp4" mimeType="video/mp4" /> 
        <mimeMap fileExtension=".ogv" mimeType="video/ogg" /> 
      </staticContent>
    </system.webServer>
</configuration>
