<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="50331648" maxQueryString="10000"/>
      </requestFiltering>
    </security>
    <handlers>
      <add name="JSON" path="*.json" verb="*" modules="IsapiModule" scriptProcessor="C:\WINDOWS\system32\inetsrv\asp.dll" resourceType="Unspecified" />
    </handlers>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
  <system.web>
    <customErrors mode="On"/>
    <compilation debug="true"/>
    <httpRuntime maxQueryStringLength="100000" maxRequestLength="49152" executionTimeout="1200" requestValidationMode="2.0"/>

    <authorization>
      <allow users ="*" />
    </authorization>

  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="20971520"/>
        <!-- 20 Mb -->
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
